.portifolio{
  padding:0;
  margin:1em;
  display:flex;
  flex-direction:column;
  gap:2em;
  list-style: none;
  
}
.content .portifolio li span::before{
  font-size:.9em;
  position:relative;
  top:6px;
  margin-right: .5rem;
  display:inline-block;
  content:' ';
  width:24px;
  height:24px;
  background-size: contain;
  
}
li .github::before{
  background-image: url('../img/icons/icons8-github-30.png')
}
li .codepen::before{
  background-image: url('../img/icons/icons8-codepen-50.png')
}
li .internet::before{
  background-image: url('../img/icons/icons8-internet-50.png')
}
.portifolio a{
  display:block;
  margin-top:1em;
  margin-left:2em;
  font-size:small;

}
